*{
    margin:0;
    padding:0;
}
.header{
    width: 100%;
    background-color: rgb(40, 1, 63);
    color: rgb(255, 255, 255);
    justify-content: center;
    padding: 10px 20px;
    padding-left: 10%;
}
.subheading{
    width: 80%;
    margin: auto;
    justify-content: center;
    padding: 10px 20px;
}
h2,h3,h4{
    margin:4px;
    padding:2px;
}
p{
    margin:2px;
    padding:1px;
}
.buttons{
    width: 70%;
    margin: auto;
    justify-content: center;
    padding: 10px 20px;
}
button{
    margin-right: 5px;
    padding: 3px;
}

.form-div{
    width: 80%;
    margin: auto;
    justify-content: center;
    padding: 10px 20px;

}
.form-group{
    margin:5px;
    padding:4px;
}
label,.pKey{
    display: inline-block;
    width:200px;
    margin: 1px;
    padding:3px;
}

input{
    padding:3px;
    margin: 1px;
}
.form-buttons{
    margin-left:150px;

}
.error-message{
    display: inline-block;
    font-size: small;
    color: red;
    margin-left: 4px;
}

